  {% load staticfiles %}
             <div class="row row-pb-md">
				<div class="col-md-12">
					<h3 class="footer-heading">Найпопулярніші</h3>
				</div>
				<div class="col-md-4">
					<div class="post-entry">
						<div class="post-img">
							<a href="#"><img src="{% static "images/img_1.jpg"%}" class="img-responsive" alt="Free HTML5 Bootstrap Template by GetTemplates.co"></a>
						</div>
						<div class="post-copy">
							<h4><a href="#">Привітулі, тут тоже має бути популярний пост але я не вмію ше такого робити</a></h4>
							<a href="#" class="post-meta"><span class="date-posted">4 days ago</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="post-entry">
						<div class="post-img">
							<a href="#"><img src="{% static "images/img_2.jpg"%}" class="img-responsive" alt="Free HTML5 Bootstrap Template by GetTemplates.co"></a>
						</div>
						<div class="post-copy">
							<h4><a href="#">Привітулі, тут тоже має бути популярний пост але я не вмію ше такого робити</a></h4>
							<a href="#" class="post-meta"><span class="date-posted">4 days ago</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="post-entry">
						<div class="post-img">
							<a href="#"><img src="{% static "images/img_3.jpg"%}" class="img-responsive" alt="Free HTML5 Bootstrap Template by GetTemplates.co"></a>
						</div>
						<div class="post-copy">
							<h4><a href="#">Привітулі, тут тоже має бути популярний пост але я не вмію ше такого робити</a></h4>
							<a href="#" class="post-meta"><span class="date-posted">4 days ago</span></a>
						</div>
					</div>
				</div>
			</div>