{% load staticfiles %}
<!--
paginator.page_range дає range() з кількістю сторінок
page_obj.number дає номер сторінки на які зараз знаходиться
-->
			<div class="row">
				<div class="col-md-12 text-center">
					<nav aria-label="Page navigation">
					  <ul class="pagination">

                        {% if page_obj.has_previous %}
					    <li>
					      <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
                        {% endif %}

                        {% for page_num in paginator.page_range %}
                            {% if page_num == page_obj.number %}
                                <li class="active">
                                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li>
                                <a href="?page={{ page_num }}"> {{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
					    <li>
					      <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
                        {% endif %}
					  </ul>
					</nav>
				</div>
			</div>